@use "../../../styles/variables/colors";

.card__element {
  font-size: 30px;
  width: 1em;
  height: 1em;

  color: colors.$btn_gen;
  background-color: transparent;
  background-color: colors.$bg_body;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: absolute;

  z-index: 1;
  user-select: none;

  &.position_left-bottom {
    bottom: 20px;
    left: 16px;
  }

  &.position_right-top {
    top: 65px;
    right: 18px;
  }
}

.card__color {
  font-size: 16px;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  opacity: 0.3;
}

.card__element:hover {
  color: colors.$btn_hover;
  border: 2px solid colors.$btn_hover-dark;
  box-shadow: 1px 2px 8px 0.6px colors.$shadow;

  & .card__color {
    opacity: 1;
  }
}
