@use "../../styles/variables/colors";

.modal--order {
  max-width: 1024px;
  height: 80vh;

  padding: 50px 65px;
}

.modal-container--order {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-checkout{
  margin-top: 15px;
}