@use "../../styles/variables/colors.scss";
@use "../../styles/variables/fonts.scss";

.card-line {
  width: 100%;
  min-height: 200px;

  position: relative;

  box-sizing: border-box;
  padding: 15px 35px;
  margin-bottom: 15px;

  border-radius: 12px;
  border: 1px solid colors.$gen_dark;

  background-color: colors.$bg_body;

  box-shadow: 1px 2px 8px 2.6px colors.$shadow;

  user-select: none;
  transition: all 2s ease;

  &:hover {
    color: colors.$btn_hover;
    border: 1px solid colors.$btn_hover-dark;
    box-shadow: 0px 0px 8px 6px colors.$shadow-extra;

    transition: all 0.3s ease;
  }
}

.card__content-line {
  display: flex;
  justify-content: start;
  align-items: center;

  margin-left: 20px;
}

.card__img-box {
  font-size: 160px;
  width: 1em;
  height: 1em;

  // border: 1px solid salmon;

  .card__img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    // filter: grayscale(100%) brightness(0.85) contrast(1.15);
    // filter: grayscale(100%) brightness(1.3);
    // filter: grayscale(100%);
    filter: grayscale(70%);
    // opacity: 0.5;
    // border: 1px solid salmon;
    transition: all 2s ease;
  }
}

.card__main-line {
  text-align: start;
  margin-left: 25px;
  // justify-content: start;

  .product-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .product-quantity {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .product-article {
    font-size: 12px;
  }
}

.card-line:hover {
  color: colors.$btn_hover;
  border: 1px solid colors.$btn_hover-dark;
  box-shadow: 0px 0px 8px 6px colors.$shadow-extra;

  transition: all 0.3s ease;

  & .card__img {
    // filter: grayscale(0%) brightness(1);
    filter: grayscale(0%);
    // opacity: 1;

    transition: all 0.3s ease;
  }
}
