.pages {
  padding-top: 30px;
  padding-bottom: 50px;
}

.cards-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  &.line {
    display: flex;
    flex-direction: column;
  }
}

.pages__not-found {
  &.wrapper {
    text-align: center;
    margin-bottom: 50px;
  }
  &.code {
    font-size: 160px;
  }
  &.text {
    font-size: 30px;
  }
}
