// BASE COLORS:
$white: #ffffff;
$black: #000000;

// GENERAL:
$gen: #6e7d87;

$gen_dark: #467deb; //  Border Modal Base
$gen_dark-blue: #356171; //  Logo
$gen_hover-dark: #1eebdc; // Hover Modal Base
// $gen_header: #55a8a8; // Header hover
// $gen_header: #4a9696; // Header hover
$gen_header: #4a8796; // Header hover

// BUTTONS:
$btn_gen: #55c3eb;
$btn_dark: #467deb;
$btn_hover: #1eebbe;
$btn_hover-dark: #1eebdc;

// BACKGROUNDS:
$bg_body: #181818; // Background body
$bg_brand: #1f1f1f; // Background container
$bg_veil: rgba(24, 24, 24, 0.7); // Background veil-wrapper

// SHADOW:
$shadow: rgba(65, 135, 240, 0.4); //General
$shadow-extra: rgba(65, 135, 240, 0.6);
$shadow_dark: rgba(30, 55, 95, 0.8);
$shadow_dark-green: rgba(35, 80, 110, 0.6);

// ADDITIONAL COLORS:
// $brand-yellow: #e5e512; // Text color (experiment)
// $inter-01: #4a9696;
// $inter-02: #55a8a8;
