@use "../../styles/variables/colors";

.footer {
  font-size: 14px;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 30px 30px 0 0;
  border-top: 5px solid colors.$gen_dark-blue;
  user-select: none;

  &:hover {
    color: colors.$gen_header;
    background-color: colors.$bg_body;
    border-top: 5px solid colors.$gen_header;
  }
}
