@use "../../../styles/variables/colors.scss";

.btn__switcher {
  font-size: 40px;
  width: 1em;
  height: 1em;

  // color: colors.$gen;
  background-color: transparent;
  //   background-color: colors.$bg_body;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3px;

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: relative;

  z-index: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: colors.$btn_hover;
    background-color: colors.$bg_body;

    border: 1px solid colors.$btn_hover-dark;
    box-shadow: 1px 2px 8px 0.6px colors.$shadow;
  }
  &:active {
    top: 3px;
    right: 3px;
    // box-shadow: 1px 1px 2px 0.6px colors.$btn_gen;
    box-shadow: 1px 1px 2px 0.6px colors.$shadow;
  }

  &:hover .svg__switcher {
    fill: colors.$btn_hover-dark;
  }
}

.svg__switcher {
  font-size: 20px;
  width: 1em;
  height: 1em;

  // fill: none;
  fill: colors.$gen_dark-blue;
  stroke: colors.$gen_dark-blue;

  &.svg_cart {
    stroke-width: 25px;
  }
  &.svg_cart_full {
    fill: colors.$gen_dark-blue;
    stroke-width: 25px;
  }
  &.svg_heart_empty {
    stroke-width: 65px;
  }
  &.svg_heart_full {
    fill: colors.$gen_dark-blue;
    stroke-width: 65px;
  }
}
