@use "../variables/colors.scss";
@use "../mixins/mixins.scss";

body {
  @include mixins.Text;
  font-style: normal;
  line-height: normal;

  background-color: colors.$bg_body;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1320px;
  min-height: 100vh;
  margin: 0 auto;

  box-sizing: border-box;
  background-color: colors.$bg_brand;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner {
  // padding: 0 60px;
  padding-left: 60px;
  padding-right: 60px;
}
